<h1><%="#{@board_title.board_title} Board"%></h1>
<p><%=link_to "Back to All Boards", boards_path%></p>
<%= render partial: "lists/new"%>
<% @lists.each do |list|%>
<div class="col s12 m6">
  <div class = "card blue-grey darken-1">
    <div class="card-content white-text">
      <div class = "card-title">
        <%= "#{list.title} List"%>
          </div>  
          <ul>
              <%= form_for [list, Task.new] do |f| %>
                <div class="field">
              <%= f.text_field :title, required: true, placeholder: "Task Name" %>
                </div>
              <%= f.submit class: "btn waves-effect waves-light"%>
              <br>
              <% end %>
              
              <% list.tasks.each do |task| %>
              <br>
              <li>
              <%= task.title%>
              <%= link_to "Delete", list_task_path(list, task), method: :delete%>
              </li>
    <% end %>
    <div class="card-action">
        <%= link_to "Delete list", board_list_path(@board, list.id), method: :delete%>
      </div>
    </div>
  </div> 
 </div> 
</ul>
<% end %>


<h1>Sql results</h1>

<h3>Board Title</h3>
<%=@board_title.board_title%>

<h3>Lists</h3>
<%@lists_sql.each do |s|%>
<ul>
<%=s.title%>
<h3>Tasks</h3>
<%Board.task_list(current_user.id,@board.id,s.id).each do |s|%>
<li>
<%= s.task_title%>
</li>
<% end %>
</ul>
<br>
<%end%>
