<h1><%="#{@board.title} Board"%></h1>
<p><%=link_to "Back to All Boards", boards_path%></p>

<%= render partial: "lists/new"%>

<p>
<% @lists.each do |list|%>
<%= "#{list.title} List"%>
<%= link_to "Delete list", board_list_path(@board, list.id), method: :delete%>
<ul>
    <%= form_for [list, Task.new] do |f| %>
      <div class="field">
    <%= f.text_field :title, required: true, placeholder: "Task Name" %>
      </div>
    <%= f.submit class: "btn waves-effect waves-light"%>
    <% end %>
    
    <% list.tasks.each do |task| %>
    <li>
    <%= task.title%>
    </li>
    <% end %>
</ul>
<br>
<% end %>



</p>
