<h1><%="#{@board_title.board_title} Board"%></h1>
<p><%=link_to "Back to All Boards", boards_path%></p>
<%= render partial: "lists/new"%>
<% @lists_sql.each do |list|%>
<div class="col s12 m6">
  <div class = "card blue-grey darken-1">
    <div class="card-content white-text">
      <div class = "card-title">
        <%= "#{list.title} List"%>
          </div>  
          <ul>
              <%= form_for [@lists.find(list.id), Task.new] do |f| %>
                <div class="field">
              <%= f.text_field :title, required: true, placeholder: "Task Name" %>
                </div>
              <%= f.submit class: "btn waves-effect waves-light"%>
              <br>
              <% end %>
              
              <% Board.task_list(current_user.id,@board.id,list.id).each do |task| %>
              <br>
              <li>
              <%= task.task_title%>
              <%= link_to "Delete", list_task_path(@lists.find(list.id), task.board_id), method: :delete%>
              <%= link_to "Edit", edit_list_task_path(@lists.find(list.id), task.task_id)%>
              </li>
    <% end %>
    <div class="card-action">
        <%= link_to "Delete list", board_list_path(@board, list.id), method: :delete%>
      </div>
    </div>
  </div> 
 </div> 
</ul>
<% end %>



